recursive-include swampdragon/static *
recursive-exclude swampdragon/static/swampdragon/js/node_modules *
recursive-include swampdragon/app_templates *
include README.md
include README.txt
include setup.cfg
